$height: 50px
$width: 90px

.switchWrapper
  overflow: hidden
  transform: scale(0.65)

.switch
  position: absolute
  left: -99em

.toggle
  cursor: pointer
  display: inline-block
  position: relative
  width: $width
  height: $height
  background-color: #83D8FF
  border-radius: $width
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)

.toggleHandler
  display: inline-block
  position: relative
  z-index: 1
  top: 3px
  left: 3px
  width: $height - 6px
  height: $height - 6px
  background-color: #FFCF96
  border-radius: $height
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3)
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
  transform: rotate(-45deg)

.crater
  position: absolute
  background-color: #E8CDA5
  opacity: 0
  transition: opacity 200ms ease-in-out
  border-radius: 100%

.crater1
  top: 18px
  left: 10px
  width: 4px
  height: 4px

.crater2
  top: 28px
  left: 22px
  width: 6px
  height: 6px

.crater3
  top: 10px
  left: 25px
  width: 8px
  height: 8px

.star
  position: absolute
  background-color: #ffffff
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
  border-radius: 50%

.star1
  top: 10px
  left: 35px
  z-index: 0
  width: 30px
  height: 3px

.star2
  top: 18px
  left: 28px
  z-index: 1
  width: 30px
  height: 3px

.star3
  top: 27px
  left: 40px
  z-index: 0
  width: 30px
  height: 3px

.star4,
.star5,
.star6
  opacity: 0
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95)

.star4
  top: 16px
  left: 11px
  z-index: 0
  width: 2px
  height: 2px
  transform: translate3d(3px, 0, 0)

.star5
  top: 32px
  left: 17px
  z-index: 0
  width: 3px
  height: 3px
  transform: translate3d(3px, 0, 0)

.star6
  top: 36px
  left: 28px
  z-index: 0
  width: 2px
  height: 2px
  transform: translate3d(3px, 0, 0)

.isChecked
  .toggle
    background-color: #749DD6

  .toggleHandler
    background-color: #FFE5B5
    transform: translate3d(40px, 0, 0) rotate(0)

  .crater
    opacity: 1

  .star1
    width: 2px
    height: 2px

  .star2
    width: 4px
    height: 4px
    transform: translate3d(-5px, 0, 0)

  .star3
    width: 2px
    height: 2px
    transform: translate3d(-7px, 0, 0)

  .star4,
  .star5,
  .star6
    opacity: 1
    transform: translate3d(0, 0, 0)

  .star4
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)

  .star5
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95)

  .star6
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95)