*, *:before, *:after
  box-sizing: border-box
  padding: 0
  margin: 0

html
  scroll-behavior: smooth

::-webkit-scrollbar
  width: 8px
  height: 8px
  background-color: var(--color-grey-100)

::-webkit-scrollbar-thumb
  background-color: var(--color-grey-200)
  border-radius: 5px

::-webkit-scrollbar-track
  background-color: transparent
  border-radius: 3px

::selection
  background-color: #4433FF
  color: white

body
  font-family: var(--fonts-main)
  line-height: 1.5
  color: var(--color-text)
  background-color: var(--color-background)
  transition: .5s color,.5s background-color ease-in-out

img
  max-width: 100%
  max-height: 100%
